.DS_Store
ScreenR.Rproj
.Rhistory
Rproj.user
.RData
.Ruserdata
inst/doc
.docs
doc/
Meta/
*.html
*.Rproj.user
.Rproj.user
.Rproj.user/
/vignettes/figure/
docs
/vignettes/*.html
/vignettes/*.md
/vignettes/*.R
README.Rmd
.git_old

